# Basics Python Language

## Python input / output

### output

In [2]:
print("Welcome to Zag-Eng!")

Welcome to Zag-Eng!

In [3]:
x = 10
print("Value of x is", x)

Value of x is 10

In [4]:
print("Ahmed", "Diab", sep='-', end='\n')

Ahmed-Diab

In [5]:
print(100 % 2)

0

In [6]:
print(100>90)

True

### input

In [7]:
name = input("Enter your name: ")
print("Hello", name)

Hello Ahmed

In [8]:
num = input("Enter a number: ")
print(type(num))

<class 'str'>

In [ ]:
age = int(input("Enter your age: "))
print("Next year, you'll be", age + 1)

Next year, you’ll be 31

In [10]:
name = "Ahmed"
age = 20
print("My name is", name, "and I am", age, "years old.")

My name is Ahmed and I am 20 years old.

In [11]:
print("The result is", 10 + 5)

The result is 15

In [12]:
print("The result is " + str(10 + 5))

The result is 15

In [13]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))
city = input("Enter your city: ")

print(f"Hello {name}! You are {age} years old and live in {city}.")

Hello ahmed! You are 20 years old and live in zagazig.

## Python Comments / Dectionary

In [ ]:
# ingle-line comment
print("Hello Zag Eng!")  # This prints a greeting

Hello Zag Eng!

In [15]:
'''
This is a multi-line comment.
It helps describe long code blocks.
Useful for documentation or explanations.
'''
print("Welcome Zag Eng Family!")

Welcome Zag Eng Family!

## Variables and Data Types

In [16]:
name = "Ahmed"
age = 21
track = "AI / Data Science"

In [37]:
name = "ahmed"
print(name)
print(type(name))

ahmed
<class 'str'>

In [ ]:
"""
valid :
name, age_1, total_marks, _city

Invalid :
1name, total-marks, my city

"""

<class 'int'>
<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>

In [17]:
x = 10

In [18]:
x, y, z = 1, 2, 3

In [ ]:
a = b = c = 0

In [19]:
x = 10
print(type(x))

<class 'int'>

In [20]:
pi = 3.14
print(type(pi))

<class 'float'>

In [21]:
z = 3 + 5j
print(type(z))

<class 'complex'>

In [22]:
name = "Zag Eng Family"
print(name)

Zag Eng Family

In [23]:
print(len(name))           
print(name.upper())        
print(name.lower())       
print(name[0])             
print(name[-1])

14
ZAG ENG FAMILY
zag eng family
Z
y

In [24]:
is_active = True
print(type(is_active))

<class 'bool'>

In [25]:
x = 10
print(x > 5)   
print(x < 5)

True
False

In [29]:

name = input("Enter your name: ")
age = int(input("Enter your age: "))
gpa = float(input("Enter your GPA: "))
is_graduate = bool(int(input("Graduated? (1 for Yes, 0 for No): ")))

print(f"\nStudent Info:")
print(f"Name: {name}")
print(f"Age: {age}")
print(f"GPA: {gpa}")
print(f"Graduated: {is_graduate}")

Student Info:
Name: Ahmed
Age: 20
GPA: 3.5
Graduated: False

## String

In [30]:
name = "Ahmed"
track = 'AI / Data Science'
greeting = """Welcome to Zag Eng Family!"""

In [31]:
msg = "Hello Zag Eng!"
print(msg)

Hello Zag Eng!

Accessing String Characters

In [32]:
text = "Python"
print(text[0]) 
print(text[1])  
print(text[-1])

P
y
n

String Slicing

In [ ]:
text = "Zag Eng Family"
print(text[0:3])   
print(text[4:7])   
print(text[:7])   
print(text[8:])

I'ahmed Diab
I'ahmed Diab

In [50]:
text = "Welcome to Zag-Eng. Welcome, I'am Ahmed Diab"
print(text)
print(text.capitalize())
print(text.split())
print(text.endswith("Diab"))
print(text.count("Welcome"))
print("Ahmed" in text )

Welcome to Zag-Eng. Welcome, I'am Ahmed Diab
Welcome to zag-eng. welcome, i'am ahmed diab
['Welcome', 'to', 'Zag-Eng.', 'Welcome,', "I'am", 'Ahmed', 'Diab']
True
2
True

`String Methods`

| Method      | Example                          | Result           | Description                  |
|-------------|----------------------------------|------------------|------------------------------|
| `.upper()`  | `"zag".upper()`                  | `"ZAG"`          | Converts to uppercase        |
| `.lower()`  | `"ZAG".lower()`                  | `"zag"`          | Converts to lowercase        |
| `.title()`  | `"zag eng".title()`              | `"Zag Eng"`      | Capitalize each word         |
| `.strip()`  | `" AI ".strip()`                 | `"AI"`           | Removes spaces               |
| `.replace()`| `"Zag".replace("Z", "B")`        | `"Bag"`          | Replace part of text         |
| `.split()`  | `"AI DS".split()`                | `['AI', 'DS']`   | Split string into list       |
| `.join()`   | `' '.join(['AI','DS'])`          | `"AI DS"`        | Join list into string        |
| `.find()`   | `"Python".find("t")`             | `2`              | Find index of a character    |
| `.count()`  | `"data data".count("data")`      | `2`              | Count occurrences            |

`scape Characters`


| Escape | Meaning       | Example            | Output        |
|-------|----------------|--------------------|---------------|
| `\'`  | Single quote   | `'It\'s great!'`   | It's great!   |
| `\"`  | Double quote   | `"He said \"Hi\""` | He said "Hi"  |
| `\\`  | Backslash      | `"C:\\path"`       | C:\path       |
| `\n`  | New line       | `"Hello\nWorld"`   | Hello         |
|       |                |                    | World         |
| `\t`  | Tab space      | `"Hello\tWorld"`   | Hello    World |

In [33]:
print("Zag Eng Family\nAI\tData Science")

Zag Eng Family
AI	Data Science

String Formatting

In [34]:
name = "Ahmed"
age = 21
print("My name is", name, "and I am", age, "years old.")

My name is Ahmed and I am 21 years old.

In [35]:
name = "Sara"
track = "Data Science"
print("Hello " + name + "! Welcome to " + track + " track.")

Hello Sara! Welcome to Data Science track.

In [36]:
name = "Omar"
track = "AI"
print("Hello {}, welcome to the {} track!".format(name, track))

Hello Omar, welcome to the AI track!

In [37]:
print("Track: {1}, Student: {0}".format("Omar", "AI"))

Track: AI, Student: Omar

In [39]:
name = "Ahmed"
age = 21
track = "AI"
print(f"My name is {name}, I'm {age} years old, and I'm learning {track}.")

My name is Ahmed, I'm 21 years old, and I'm learning AI.

In [40]:
x, y = 5, 7
print(f"The sum of {x} and {y} is {x + y}.")

The sum of 5 and 7 is 12.

In [42]:
name = input("Enter your name: ")
track = input("Enter your track: ")
year = int(input("Enter your academic year: "))

print(f"\nHello {name}! You are in the {track} track, year {year}.")
print(f"Welcome to the Zag Eng Family ")

Hello Ahmed! You are in the Ai track, year 2026.
Welcome to the Zag Eng Family

## If Condition

In [43]:
age = 20

if age >= 18:
    print("You can join the Zag Eng Family!")

You can join the Zag Eng Family!

In [44]:
age = 16

if age >= 18:
    print("You can join Zag Eng Family.")
else:
    print("Sorry, you must be 18 or older.")

Sorry, you must be 18 or older.

In [46]:
score = 85

if score >= 90:
    print("Excellent! ")
elif score >= 75:
    print("Very Good! ")
elif score >= 50:
    print("Good! Keep improving ")
else:
    print("You need more practice ")

Very Good!

In [47]:
age = 20
has_id = True

if age >= 18 and has_id:
    print("You can enter the event!")
else:
    print("Access denied.")

You can enter the event!

In [48]:
age = 21
is_member = True

if age >= 18:
    if is_member:
        print("Welcome to Zag Eng Family!")
    else:
        print("Please register first.")
else:
    print("You must be 18 or older.")

Welcome to Zag Eng Family!

In [49]:
name = input("Enter your name: ")
score = int(input("Enter your score: "))

if score >= 90:
    print(f"Excellent, {name}! ")
elif score >= 75:
    print(f"Good job, {name}! ")
elif score >= 50:
    print(f"Keep trying, {name}! ")
else:
    print(f"Don't give up, {name}! You'll improve")

Excellent, Ahmed!

Short Form

In [ ]:
age = 20
message = "Adult" if age >= 18 else "Minor"
print(message)

## Loops

In [51]:
print("Welcome Zag Eng Family!")
print("Welcome Zag Eng Family!")
print("Welcome Zag Eng Family!")

Welcome Zag Eng Family!
Welcome Zag Eng Family!
Welcome Zag Eng Family!

### For Loop

In [57]:
for i in range(10):
    print("Welcome Zag Eng Family!")

Welcome Zag Eng Family!
Welcome Zag Eng Family!
Welcome Zag Eng Family!
Welcome Zag Eng Family!
Welcome Zag Eng Family!
Welcome Zag Eng Family!
Welcome Zag Eng Family!
Welcome Zag Eng Family!
Welcome Zag Eng Family!
Welcome Zag Eng Family!

In [58]:
members = ["Ahmed", "Sara", "Omar", "Nour"]

for name in members:
    print("Hello", name)

Hello Ahmed
Hello Sara
Hello Omar
Hello Nour

In [59]:
for name in members:
    if name == "Ahmed":
        print(name, "is the Leader ")
    else:
        print(name, "is a Member ")

Ahmed is the Leader
Sara is a Member
Omar is a Member
Nour is a Member

range(start, end, step)

In [60]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

Nested for Loops

In [61]:
for i in range(3):
    for j in range(2):
        print("Round:", i, "Step:", j)

Round: 0 Step: 0
Round: 0 Step: 1
Round: 1 Step: 0
Round: 1 Step: 1
Round: 2 Step: 0
Round: 2 Step: 1

### WHILE LOOP

In [62]:
i = 1
while i <= 5:
    print("Zag Eng Loop", i)
    i += 1

Zag Eng Loop 1
Zag Eng Loop 2
Zag Eng Loop 3
Zag Eng Loop 4
Zag Eng Loop 5

In [63]:
command = ""
while command != "exit":
    command = input("Type 'exit' to stop: ")

break

In [64]:
for name in members:
    if name == "Omar":
        break
    print(name)

Ahmed
Sara

continue

In [65]:
for name in members:
    if name == "Sara":
        continue
    print(name)

Ahmed
Omar
Nour

else with loops

In [66]:
for i in range(3):
    print("Step:", i)
else:
    print("Loop finished successfully!")

Step: 0
Step: 1
Step: 2
Loop finished successfully!

`Difference Between for and while`

| Feature      | for loop                            | while loop                       |
|--------------|-------------------------------------|----------------------------------|
| When used    | When we know how many times         | When we don’t know repetitions   |
| Syntax       | `for i in range():`                 | `while condition:`               |
| Example      | `for i in range(5)`                 | `while i < 5`                    |

In [69]:
count = 0
while count < 3:
    name = input("Enter Zag Eng member name: ")
    if name == "Ahmed":
        print("Hello Leader Ahmed! ")
    else:
        print("Welcome", name)
    count += 1

Hello Leader Ahmed!
Welcome Mohamed
Welcome Sara

## Files

`Two main types`

| Type         | Description                 | Example                     |
|--------------|-----------------------------|-----------------------------|
| Text files   | Contain human-readable text | `.txt`, `.csv`, `.json`     |
| Binary files | Contain data in binary form | `.jpg`, `.png`, `.exe`, `.dat` |

`Common Modes`

| Mode | Description                                      |
|------|--------------------------------------------------|
| `r`  | Read (default) – error if file doesn’t exist     |
| `w`  | Write – creates new file / overwrites existing   |
| `a`  | Append – adds new data at the end                |
| `x`  | Create – creates new file, error if exists       |
| `r+` | Read and write                                   |
| `b`  | Binary mode (used with images/files)             |

reading

In [70]:
file = open("members.txt", "r")  
content = file.read()            
print(content)
file.close()

Ahmed
Sara
Omar
Nour

In [71]:
file = open("members.txt", "r")
for line in file:
    print("Member:", line.strip())
file.close()

Member: Ahmed
Member: Sara
Member: Omar
Member: Nour

Writing

In [74]:
file = open("leaders.txt", "w")
file.write("Ahmed - Leader\n")
file.write("Sara - Vice Leader\n")
file.close()

Append

In [75]:
file = open("leaders.txt", "a")
file.write("Omar - Member\n")
file.close()

`reading methods`

| Method      | Description                  | Example          |
|-------------|------------------------------|------------------|
| `read()`     | Reads entire file            | `file.read()`     |
| `readline()` | Reads one line               | `file.readline()` |
| `readlines()`| Reads all lines into a list  | `file.readlines()`|

In [76]:
file = open("members.txt", "r")
lines = file.readlines()
print(lines)
file.close()

['Ahmed\n', 'Sara\n', 'Omar\n', 'Nour\n']

In [77]:
with open("members.txt", "r") as file:
    for line in file:
        print(line.strip())

Ahmed
Sara
Omar
Nour

In [78]:
with open("zageng.txt", "w") as file:
    file.write("Welcome Zag Eng Family!\n")
    file.write("Python is awesome!\n")

with open("zageng.txt", "r") as file:
    content = file.read()
    print(content)

Welcome Zag Eng Family!
Python is awesome!

### Folders

In [79]:
import os

In [80]:
print(os.getcwd())

e:\Zag_Eng\AI_25-26\Content\Week1_intro_python

create new folder

In [81]:
os.mkdir("ZagEngData")

create nested folders

In [82]:
os.makedirs("ZagEng/Projects/Data")

In [83]:
print(os.listdir())

['hakkerrank_problem_solving.txt', 'Images', 'introduction.docx', 'jupyter_intro_Python.docx', 'leaders.txt', 'members.txt', 'ml_intro.docx', 'week1.ipynb', 'ZagEng', 'zageng.txt', 'ZagEngData']

In [84]:
os.rename("leaders.txt", "team_leaders.txt")

In [85]:
os.remove("team_leaders.txt")

In [86]:
os.rmdir("ZagEngData")

only works if folder is empty

In [87]:
import shutil
shutil.rmtree("ZagEng")

remove non-empty folders:

In [88]:
members = ["Ahmed", "Sara", "Omar", "Nour"]

with open("zag_members.txt", "w") as file:
    for member in members:
        file.write(member + "\n")

with open("zag_members.txt", "r") as file:
    for line in file:
        print("Zag Eng Member:", line.strip())

Zag Eng Member: Ahmed
Zag Eng Member: Sara
Zag Eng Member: Omar
Zag Eng Member: Nour

| Action        | Function / Method                     | Description                             |
|---------------|---------------------------------------|-----------------------------------------|
| Open file     | `open("file.txt", "r")`               | Opens a file                             |
| Read file     | `.read()` / `.readline()` / `.readlines()` | Reads file content                  |
| Write file    | `.write()`                            | Writes new data                          |
| Append file   | Open with `'a'` mode                  | Adds data without deleting               |
| Close file    | `.close()`                            | Closes file (best practice: use `with`)  |
| Create folder | `os.mkdir("folder")`                  | Makes a new directory                    |
| List items    | `os.listdir()`                        | Lists all files and folders              |
| Delete        | `os.remove("file.txt")`               | Deletes file                             |
| Rename        | `os.rename(old, new)`                 | Renames file or folder                   |

## Data Structure

## List

In [89]:
members = ["Ahmed", "Sara", "Omar", "Nour"]
print(members)

['Ahmed', 'Sara', 'Omar', 'Nour']

In [90]:
print(members[0])
print(members[-1])

Ahmed
Nour

In [91]:
members[1] = "Salma"
print(members)

['Ahmed', 'Salma', 'Omar', 'Nour']

`List Methods`

| Method       | Description              | Example                     |
|-------------|--------------------------|-----------------------------|
| `append(x)`  | Add item to end          | `members.append("Ali")`     |
| `insert(i,x)`| Add item at position     | `members.insert(1,"Layla")` |
| `remove(x)`  | Remove specific value    | `members.remove("Omar")`    |
| `pop()`      | Remove last element      | `members.pop()`             |
| `sort()`     | Sort the list            | `numbers.sort()`            |
| `reverse()`  | Reverse the list         | `numbers.reverse()`         |
| `count(x)`   | Count occurrences        | `members.count("Ahmed")`    |
| `len()`      | Length of list           | `len(members)`              |

In [92]:
for name in members:
    print("Zag Eng Member:", name)

Zag Eng Member: Ahmed
Zag Eng Member: Salma
Zag Eng Member: Omar
Zag Eng Member: Nour

In [93]:
members = ["Ahmed", "Sara"]
members.append("Omar")
members.insert(1, "Ali")
members.extend(["Nour", "Hassan"])
print(members)

['Ahmed', 'Ali', 'Sara', 'Omar', 'Nour', 'Hassan']

In [94]:
members = ["Ahmed", "Sara", "Omar", "Nour"]
members.remove("Sara")
members.pop()   
print(members)

['Ahmed', 'Omar']

In [95]:
members = ["Ahmed", "Sara", "Omar", "Nour"]
members.remove("Sara")
members.pop()    
print(members)

['Ahmed', 'Omar']

In [96]:
if "Ahmed" in members:
    print("Ahmed is part of Zag Eng Family!")

Ahmed is part of Zag Eng Family!

In [98]:
members = ["Ahmed", "Sara", "Omar", "Nour", "Hassan"]
print(members[1:4])    
print(members[::-1])

['Sara', 'Omar', 'Nour']
['Hassan', 'Nour', 'Omar', 'Sara', 'Ahmed']

Nested Lists

In [99]:
zag_eng = [
    ["Ahmed", "Leader"],
    ["Sara", "Member"],
    ["Omar", "Developer"]
]

print(zag_eng[1][0])

Sara

Copying Lists

Wrong : ___list2 = list1__

Correct : ___list2 = list1.copy()__

In [100]:
team1 = ["Ahmed", "Sara"]
team2 = ["Omar", "Nour"]

team_all = team1 + team2
print(team_all)

['Ahmed', 'Sara', 'Omar', 'Nour']

LIST COMPREHENSION

new_list = [expression for item in iterable if condition]

In [101]:

numbers = [1, 2, 3, 4, 5]
squares = [n**2 for n in numbers]
print(squares)

[1, 4, 9, 16, 25]

In [102]:
even = [n for n in range(10) if n % 2 == 0]
print(even)

[0, 2, 4, 6, 8]

In [103]:
names = ["Ahmed", "Sara", "Omar", "Nour"]
short_names = [n for n in names if len(n) <= 4]
print(short_names)

['Sara', 'Omar', 'Nour']

## Tuple

my_tuple = (item1, item2, item3)

In [ ]:
student = ("Ahmed", 21, "Engineering")
print(student)

`Tuple Characteristics`

| Property                        | Description                                                   |
|---------------------------------|---------------------------------------------------------------|
| Ordered                         | Items have a fixed order (index-based like lists)            |
| Immutable                       | Cannot change, add, or remove items after creation           |
| Allows Duplicates               | Supports repeated values                                     |
| Can Contain Different Data Types | Example: `(1, "Ahmed", True, 3.14)`                          |

In [105]:
student = ("Ahmed", 21, "Engineering")
print(student[0])  
print(student[-1])

Ahmed
Engineering

In [106]:
numbers = (10, 20, 30, 40, 50)
print(numbers[1:4])

(20, 30, 40)

In [107]:
x = (1, 2, 3)
x[0] = 5

TypeError: 'tuple' object does not support item assignment

a = ("apple",)  -> `Touble`  
b = ("apple")   ->  `String`

In [108]:
fruits = ("apple", "banana", "cherry")
for f in fruits:
    print(f)

apple
banana
cherry

Packing and Unpacking

In [109]:
student = ("Omar", 22, "CS")

In [110]:
(name, age, dept) = student
print(name) 
print(age)  
print(dept)

Omar
22
CS

In [111]:
info = (("Ahmed", 21), ("Omar", 22), ("Sara", 23))
print(info[1][0])

Omar

In [112]:
position = (10.5, 20.8)

(x, y) = position

print(f"The bird is at position X={x}, Y={y}")

The bird is at position X=10.5, Y=20.8

## Dictionary

my_dict = {  
    "name": "Ahmed",  
    "age": 21,  
    "department": "Engineering"  
}

| Property                        | Description                                        |
|--------------------------------|----------------------------------------------------|
| Key–Value Pairs                | Data stored as `{key: value}`                      |
| Unordered (insertion order kept since Python 3.7) | Order of insertion is preserved       |
| Mutable                        | Can be changed (add/update/remove)                 |
| Keys must be unique            | No duplicate keys allowed                          |
| Keys must be immutable         | Valid keys: `str`, `int`, `tuple` (not `list`)     |

In [113]:
student = {"name": "Omar", "age": 22, "track": "AI"}

print(student["name"])   
print(student.get("age"))

Omar
22

In [114]:
student["city"] = "Zagazig"    
student["age"] = 23           
print(student)

{'name': 'Omar', 'age': 23, 'track': 'AI', 'city': 'Zagazig'}

In [115]:
student = {"name": "Sara", "age": 20, "dept": "CS"}

for key in student:
    print(key, "→", student[key])

name → Sara
age → 20
dept → CS

| Method              | Description                       |
|--------------------|-----------------------------------|
| `keys()`           | Returns all keys                  |
| `values()`         | Returns all values                |
| `items()`          | Returns (key, value) pairs        |
| `copy()`           | Returns a copy of dictionary      |
| `update(other_dict)` | Merges another dictionary        |

In [116]:
students = {
    "student1": {"name": "Omar", "age": 22},
    "student2": {"name": "Sara", "age": 21}
}

print(students["student1"]["name"])

Omar

In [117]:
bird = {
    "name": "Cuckoo",
    "color": "Blue",
    "wings": 2,
    "rope_attached": True
}

print(f"The {bird['name']} has {bird['wings']} wings and color {bird['color']}.")

The Cuckoo has 2 wings and color Blue.

## Set

my_set = {"apple", "banana", "cherry"}  
my_set = set([1, 2, 3])

In [118]:
fruits = {"apple", "banana"}

fruits.add("cherry")      
fruits.update(["mango", "kiwi"])  
fruits.remove("banana")      
fruits.discard("apple")

In [119]:
for fruit in fruits:
    print(fruit)

kiwi
mango
cherry

`Set Operation`

| Operation             | Symbol / Method                    | Example                    | Result      |
|----------------------|------------------------------------|----------------------------|-------------|
| Union                | `|` or `.union()`                  | `{1,2,3} | {2,3,4}`        | `{1,2,3,4}` |
| Intersection         | `&` or `.intersection()`           | `{1,2,3} & {2,3,4}`        | `{2,3}`     |
| Difference           | `-` or `.difference()`             | `{1,2,3} - {2}`            | `{1,3}`     |
| Symmetric Difference | `^` or `.symmetric_difference()`   | `{1,2,3} ^ {2,4}`          | `{1,3,4}`   |

In [120]:
if "apple" in fruits:
    print("Yes, apple exists!")

a = {}      -> `empty dictionary`  
b = set()   -> `empty set`

In [121]:
team_A = {"Ahmed", "Omar", "Sara"}
team_B = {"Sara", "Hassan", "Laila"}

both = team_A & team_B
print("Common Members:", both)

all_members = team_A | team_B
print("All Members:", all_members)

Common Members: {'Sara'}
All Members: {'Omar', 'Hassan', 'Ahmed', 'Laila', 'Sara'}

`Dictionary vs Set`

| Feature     | Dictionary (dict)            | Set (set)                               |
|------------|------------------------------|-----------------------------------------|
| Structure  | Key–Value pairs              | Unique values only                      |
| Ordered    |  Yes (since Python 3.7)     |  No                                    |
| Mutable    |  Yes                       |  Yes                                   |
| Duplicates |  Keys must be unique        |  No duplicates                         |
| Access     | By key                       | By membership (`in`)                    |
| Use Case   | Store related data           | Remove duplicates / perform set ops     |

## Error Handling

try:  
    # Code that might cause an error  
except:  
    # Code to run if error happens

In [1]:
try:
    num = int(input("Enter a number: "))
    print(10 / num)
except:
    print("Something went wrong!")

Something went wrong!

In [2]:
try:
    a = int(input("Enter number A: "))
    b = int(input("Enter number B: "))
    result = a / b
    print(result)

except ZeroDivisionError:
    print("You can't divide by zero!")

except ValueError:
    print("Please enter numbers only!")

except Exception as e:
    print("Unknown error:", e)

Please enter numbers only!

else

In [3]:
try:
    number = int(input("Enter a number: "))
except ValueError:
    print("Invalid input!")
else:
    print("You entered:", number)

Invalid input!

finally

In [4]:
try:
    file = open("data.txt", "r")
    data = file.read()
    print(data)
except FileNotFoundError:
    print("File not found!")
finally:
    file.close()
    print("File closed.")

File not found!

NameError: name 'file' is not defined

In [5]:
age = int(input("Enter your age: "))
if age < 0:
    raise ValueError("Age cannot be negative!")
else:
    print("Your age is:", age)

Your age is: 20

In [ ]:
try:
    a = int(input("Enter number: "))
    try:
        print(10 / a)
    except ZeroDivisionError:
        print("Inner error: division by zero")
except ValueError:
    print("Outer error: invalid input")

| Exception         | Description                           |
|-------------------|---------------------------------------|
| ZeroDivisionError | Division by zero                      |
| ValueError        | Wrong data type (like `int("abc")`)   |
| FileNotFoundError | File doesn’t exist                    |
| TypeError         | Wrong type operation                  |
| IndexError        | Index out of range                    |
| KeyError          | Key not found in dictionary           |
| NameError         | Variable not defined                  |
| Exception         | Handles all types (general catch)     |

## Function

def function_name(parameters):  
    # code block  
    return value  # optional  


`def` → defines a function  

`function_name` → name of the function  

`parameters` → inputs (optional)  

`return` → output (optional)

In [1]:
def greet():
    print("Hello Zag-Eng Family!")
    
greet()

Hello Zag-Eng Family!

In [2]:
def greet(name):
    print(f"Hello, {name}!")

greet("Ahmed")
greet("Sara")

Hello, Ahmed!
Hello, Sara!

In [3]:
def add(a, b):
    return a + b

result = add(10, 20)
print("Sum =", result)

Sum = 30

In [4]:
def info(name, age):
    print(f"{name} is {age} years old.")

info("Omar", 22)

Omar is 22 years old.

Order doesn’t matter

In [5]:
info(age=22, name="Omar")

Omar is 22 years old.

In [6]:
def greet(name="Zag-Eng"):
    print(f"Hello, {name}!")
    
greet()      
greet("Sara")

Hello, Zag-Eng!
Hello, Sara!

Variable-Length Arguments  

*args → for multiple positional arguments  

**kwargs → for multiple keyword arguments

In [7]:
def show_members(*members):
    print("Members:", members)

show_members("Ahmed", "Sara", "Omar")

Members: ('Ahmed', 'Sara', 'Omar')

Nested Functions

In [8]:
def outer():
    def inner():
        print("Hello from inner function!")
    inner()

outer()

Hello from inner function!

Lambda Functions

lambda arguments: expression

In [9]:
square = lambda x: x ** 2
print(square(5))

25

In [10]:
multiply = lambda a, b: a * b
print(multiply(4, 5))

20

In [11]:
numbers = [1, 2, 3, 4]
squares = list(map(lambda x: x**2, numbers))
print(squares)

[1, 4, 9, 16]

In [12]:
numbers = [1, 2, 3, 4, 5, 6]
even_numbers = list(filter(lambda x: x%2==0, numbers))
print(even_numbers)

[2, 4, 6]

In [13]:
students = [("Ahmed", 21), ("Sara", 19), ("Omar", 22)]
sorted_students = sorted(students, key=lambda x: x[1])
print(sorted_students)

[('Sara', 19), ('Ahmed', 21), ('Omar', 22)]